Notebook to read in the results of the matching algorithm and visualize them.

In [35]:
import sys
sys.path.append('..')

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

#### Import Pickles
Import Pickels which where created with the Script "compare_match.ipynb"

In [3]:
#df = pd.read_pickle("results/export_000-200.pkl")
df = pd.read_pickle("results/export_200-400.pkl")
#df = pd.concat([df, pd.read_pickle("results/export_200-400.pkl")])
#df = pd.concat([df, pd.read_pickle("results/export_400-600.pkl")])
df = pd.concat([df, pd.read_pickle("results/export_600-800.pkl")])
#df = pd.concat([df, pd.read_pickle("results/export_800-1000.pkl")])
df = pd.concat([df, pd.read_pickle("results/export_1000-1200.pkl")])
df = pd.concat([df, pd.read_pickle("results/export_1200-1400.pkl")])
df = pd.concat([df, pd.read_pickle("results/export_1400-1600.pkl")])
df = pd.concat([df, pd.read_pickle("results/export_1600-end.pkl")])
df = df.reset_index()
df.head(3)

,index,geometry,utm_zone,utm_geometry,rand_utm_geometry,rand_geometry,utm_area,rand_utm_area,rand_locid,locid,...,match_t1e-05_l19,match_t1e-06_l19,match_t1e-07_l19,match_t1e-06_l18,match_t1e-07_l18,match_t1e-05_l16,match_t1e-06_l16,match_t1e-06_l17,match_t1e-07_l16,match_t1e-07_l17
0,200,"POLYGON ((-157.81304 21.29359, -157.81271 21.2...",32604,"POLYGON ((623122.827 2355103.566, 623157.198 2...","POLYGON ((623101.798 2355108.462, 623136.169 2...","POLYGON ((-157.81324 21.29363, -157.81291 21.2...",444.735091,444.735091,"[3, 2, 0, 2, 0, 1, 1, 2, 2, 1, 3, 1, 3, 2, 2, ...","[3, 2, 0, 2, 0, 1, 1, 2, 2, 1, 3, 1, 3, 2, 2, ...",...,"(0.0, b'\x03\x02\x00\x02\x00\x01\x01\x02\x02\x...","(0.0, b'\x03\x02\x00\x02\x00\x01\x01\x02\x02\x...","(0.0, b'\x03\x02\x00\x02\x00\x01\x01\x02\x02\x...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201,"POLYGON ((-157.81366 21.29345, -157.81307 21.2...",32604,"POLYGON ((623058.727 2355087.807, 623119.872 2...","POLYGON ((623060.524 2355079.203, 623121.670 2...","POLYGON ((-157.81364 21.29337, -157.81305 21.2...",930.509466,930.509466,"[3, 2, 0, 2, 0, 1, 1, 2, 2, 1, 3, 1, 3, 2, 2, ...","[3, 2, 0, 2, 0, 1, 1, 2, 2, 1, 3, 1, 3, 2, 2, ...",...,"(0.5, b'\x03\x02\x00\x02\x00\x01\x01\x02\x02\x...","(0.5, b'\x03\x02\x00\x02\x00\x01\x01\x02\x02\x...","(0.5, b'\x03\x02\x00\x02\x00\x01\x01\x02\x02\x...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202,"POLYGON ((-157.81372 21.29369, -157.81308 21.2...",32604,"POLYGON ((623052.924 2355114.442, 623118.637 2...","POLYGON ((623082.285 2355090.902, 623080.631 2...","POLYGON ((-157.81343 21.29348, -157.81345 21.2...",869.716951,871.209569,"[3, 2, 0, 2, 0, 1, 1, 2, 2, 1, 3, 1, 3, 2, 2, ...","[3, 2, 0, 2, 0, 1, 1, 2, 2, 1, 3, 1, 3, 2, 2, ...",...,"(0.2857142857142857, b'\x03\x02\x00\x02\x00\x0...","(0.09090909090909091, b'\x03\x02\x00\x02\x00\x...","(0.09090909090909091, b'\x03\x02\x00\x02\x00\x...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(len(df))
df.dropna(inplace=True)
print(len(df))

1182
582

In [5]:
cols = []
for col in df.columns:
    if 'match' in col:
        cols.append(col)
cols

['match_t0.0001_l16',
 'match_t0.0001_l17',
 'match_t0.0001_l18',
 'match_t0.0001_l19',
 'match_t1e-05_l17',
 'match_t1e-05_l18',
 'match_t1e-05_l19',
 'match_t1e-06_l19',
 'match_t1e-07_l19',
 'match_t1e-06_l18',
 'match_t1e-07_l18',
 'match_t1e-05_l16',
 'match_t1e-06_l16',
 'match_t1e-06_l17',
 'match_t1e-07_l16',
 'match_t1e-07_l17']

In [6]:
matches = df[cols]
matches

,match_t0.0001_l16,match_t0.0001_l17,match_t0.0001_l18,match_t0.0001_l19,match_t1e-05_l17,match_t1e-05_l18,match_t1e-05_l19,match_t1e-06_l19,match_t1e-07_l19,match_t1e-06_l18,match_t1e-07_l18,match_t1e-05_l16,match_t1e-06_l16,match_t1e-06_l17,match_t1e-07_l16,match_t1e-07_l17
600,"(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')"
601,"(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')"
602,"(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')"
603,"(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')"
604,"(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')","(1.0, b'\x02\x00\x00\x01\x00\x01')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,"(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.6, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.6, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.6, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.1111111111111111, b'\x05\x00\x03\x02\x00\x0...","(0.1111111111111111, b'\x05\x00\x03\x02\x00\x0...","(0.6, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.6, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.6, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.6, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x..."
1178,"(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x..."
1179,"(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5833333333333334, b'\x05\x00\x03\x02\x00\x0...","(0.5833333333333334, b'\x05\x00\x03\x02\x00\x0...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x..."
1180,"(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.7777777777777778, b'\x05\x00\x03\x02\x00\x0...","(0.7777777777777778, b'\x05\x00\x03\x02\x00\x0...","(0.2631578947368421, b'\x05\x00\x03\x02\x00\x0...","(0.2631578947368421, b'\x05\x00\x03\x02\x00\x0...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(1.0, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x..."
1181,"(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.25, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\...","(0.25, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\...","(0.25, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\...","(0.125, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00...","(0.125, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00...","(0.3333333333333333, b'\x05\x00\x03\x02\x00\x0...","(0.3333333333333333, b'\x05\x00\x03\x02\x00\x0...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.25, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\...","(0.5, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\x...","(0.25, b'\x05\x00\x03\x02\x00\x03\x00\x00\x00\..."

In [8]:
def set_count(set_locid):
    set_n = len(set_locid[1])-1
    return set_n

set_numbers = pd.DataFrame()

for column in cols:
    print(column)
    set_name = column.replace("match", "SeT_Lvl")
    set_numbers[set_name] = matches[column].apply(set_count)

set_numbers.tail(5)

match_t0.0001_l16
match_t0.0001_l17
match_t0.0001_l18
match_t0.0001_l19
match_t1e-05_l17
match_t1e-05_l18
match_t1e-05_l19
match_t1e-06_l19
match_t1e-07_l19
match_t1e-06_l18
match_t1e-07_l18
match_t1e-05_l16
match_t1e-06_l16
match_t1e-06_l17
match_t1e-07_l16
match_t1e-07_l17

,SeT_Lvl_t0.0001_l16,SeT_Lvl_t0.0001_l17,SeT_Lvl_t0.0001_l18,SeT_Lvl_t0.0001_l19,SeT_Lvl_t1e-05_l17,SeT_Lvl_t1e-05_l18,SeT_Lvl_t1e-05_l19,SeT_Lvl_t1e-06_l19,SeT_Lvl_t1e-07_l19,SeT_Lvl_t1e-06_l18,SeT_Lvl_t1e-07_l18,SeT_Lvl_t1e-05_l16,SeT_Lvl_t1e-06_l16,SeT_Lvl_t1e-06_l17,SeT_Lvl_t1e-07_l16,SeT_Lvl_t1e-07_l17
1177,13,13,13,13,14,14,14,14,14,14,14,14,14,14,14,14
1178,13,13,13,13,14,14,14,14,14,14,14,14,14,14,14,14
1179,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
1180,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
1181,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11

In [9]:
res = pd.DataFrame()
cols = matches.columns
for n in range(0, len(matches.columns)):
    res[f"{cols[n]}"] = df.apply(lambda x: x[f"{cols[n]}"][0], axis=1)

In [10]:
res

,match_t0.0001_l16,match_t0.0001_l17,match_t0.0001_l18,match_t0.0001_l19,match_t1e-05_l17,match_t1e-05_l18,match_t1e-05_l19,match_t1e-06_l19,match_t1e-07_l19,match_t1e-06_l18,match_t1e-07_l18,match_t1e-05_l16,match_t1e-06_l16,match_t1e-06_l17,match_t1e-07_l16,match_t1e-07_l17
600,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.00,1.0,1.00
601,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.00,1.0,1.00
602,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.00,1.0,1.00
603,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.00,1.0,1.00
604,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.00,1.0,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,1.0,1.0,1.0,1.0,0.60,0.60,0.60,0.111111,0.111111,0.600000,0.600000,1.0,1.0,0.60,1.0,0.60
1178,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.0,0.00
1179,1.0,1.0,1.0,1.0,1.00,1.00,1.00,0.583333,0.583333,1.000000,1.000000,1.0,1.0,1.00,1.0,1.00
1180,1.0,1.0,1.0,1.0,0.50,0.50,0.50,0.777778,0.777778,0.263158,0.263158,1.0,1.0,0.50,1.0,0.50
1181,0.5,0.5,0.5,0.5,0.25,0.25,0.25,0.125000,0.125000,0.333333,0.333333,0.5,0.5,0.25,0.5,0.25

Sort by lvl / tol

In [11]:
lvlID = []
tolID = []
for mID in res.columns:
    tolID.append(float(mID.split('_')[1][1:]))
    lvlID.append(mID.split('_')[2][1:])

In [12]:
tuples = zip(tolID, lvlID)
index = pd.MultiIndex.from_tuples(tuples, names=["tol", "lvl"])

In [24]:
res.columns = index

In [31]:
res

tol  1.000000e-04                1.000000e-05             1.000000e-06  \
lvl            16   17   18   19           17    18    19           19
600           1.0  1.0  1.0  1.0         1.00  1.00  1.00     1.000000
601           1.0  1.0  1.0  1.0         1.00  1.00  1.00     1.000000
602           1.0  1.0  1.0  1.0         1.00  1.00  1.00     1.000000
603           1.0  1.0  1.0  1.0         1.00  1.00  1.00     1.000000
604           1.0  1.0  1.0  1.0         1.00  1.00  1.00     1.000000
...           ...  ...  ...  ...          ...   ...   ...          ...
1177          1.0  1.0  1.0  1.0         0.60  0.60  0.60     0.111111
1178          1.0  1.0  1.0  1.0         0.00  0.00  0.00     0.000000
1179          1.0  1.0  1.0  1.0         1.00  1.00  1.00     0.583333
1180          1.0  1.0  1.0  1.0         0.50  0.50  0.50     0.777778
1181          0.5  0.5  0.5  0.5         0.25  0.25  0.25     0.125000

tol  1.000000e-07 1.000000e-06 1.000000e-07 1.000000e-05 1.000000e-06        \
lvl            19           18           18           16           16    17
600      1.000000     1.000000     1.000000          1.0          1.0  1.00
601      1.000000     1.000000     1.000000          1.0          1.0  1.00
602      1.000000     1.000000     1.000000          1.0          1.0  1.00
603      1.000000     1.000000     1.000000          1.0          1.0  1.00
604      1.000000     1.000000     1.000000          1.0          1.0  1.00
...           ...          ...          ...          ...          ...   ...
1177     0.111111     0.600000     0.600000          1.0          1.0  0.60
1178     0.000000     0.000000     0.000000          0.0          0.0  0.00
1179     0.583333     1.000000     1.000000          1.0          1.0  1.00
1180     0.777778     0.263158     0.263158          1.0          1.0  0.50
1181     0.125000     0.333333     0.333333          0.5          0.5  0.25

tol  1.000000e-07
lvl            16    17
600           1.0  1.00
601           1.0  1.00
602           1.0  1.00
603           1.0  1.00
604           1.0  1.00
...           ...   ...
1177          1.0  0.60
1178          0.0  0.00
1179          1.0  1.00
1180          1.0  0.50
1181          0.5  0.25

[582 rows x 16 columns]

In [14]:
#deltas over tol
delta_tol = res.groupby(level=1, axis=1).diff()
delta_tol

tol  1.000000e-04             1.000000e-05             1.000000e-06  \
lvl            16  17  18  19           17    18    19           19
600           NaN NaN NaN NaN         0.00  0.00  0.00     0.000000
601           NaN NaN NaN NaN         0.00  0.00  0.00     0.000000
602           NaN NaN NaN NaN         0.00  0.00  0.00     0.000000
603           NaN NaN NaN NaN         0.00  0.00  0.00     0.000000
604           NaN NaN NaN NaN         0.00  0.00  0.00     0.000000
...           ...  ..  ..  ..          ...   ...   ...          ...
1177          NaN NaN NaN NaN        -0.40 -0.40 -0.40    -0.488889
1178          NaN NaN NaN NaN        -1.00 -1.00 -1.00     0.000000
1179          NaN NaN NaN NaN         0.00  0.00  0.00    -0.416667
1180          NaN NaN NaN NaN        -0.50 -0.50 -0.50     0.277778
1181          NaN NaN NaN NaN        -0.25 -0.25 -0.25    -0.125000

tol  1.000000e-07 1.000000e-06 1.000000e-07 1.000000e-05 1.000000e-06       \
lvl            19           18           18           16           16   17
600           0.0     0.000000          0.0          0.0          0.0  0.0
601           0.0     0.000000          0.0          0.0          0.0  0.0
602           0.0     0.000000          0.0          0.0          0.0  0.0
603           0.0     0.000000          0.0          0.0          0.0  0.0
604           0.0     0.000000          0.0          0.0          0.0  0.0
...           ...          ...          ...          ...          ...  ...
1177          0.0     0.000000          0.0          0.0          0.0  0.0
1178          0.0     0.000000          0.0         -1.0          0.0  0.0
1179          0.0     0.000000          0.0          0.0          0.0  0.0
1180          0.0    -0.236842          0.0          0.0          0.0  0.0
1181          0.0     0.083333          0.0          0.0          0.0  0.0

tol  1.000000e-07
lvl            16   17
600           0.0  0.0
601           0.0  0.0
602           0.0  0.0
603           0.0  0.0
604           0.0  0.0
...           ...  ...
1177          0.0  0.0
1178          0.0  0.0
1179          0.0  0.0
1180          0.0  0.0
1181          0.0  0.0

[582 rows x 16 columns]

In [15]:
#deltas over lvl
delta_lvl = res.groupby(level=0, axis=1).diff()
delta_lvl

tol  1.000000e-04                1.000000e-05           1.000000e-06  \
lvl            16   17   18   19           17   18   19           19
600           NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
601           NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
602           NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
603           NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
604           NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
...           ...  ...  ...  ...          ...  ...  ...          ...
1177          NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
1178          NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
1179          NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
1180          NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN
1181          NaN  0.0  0.0  0.0          NaN  0.0  0.0          NaN

tol  1.000000e-07 1.000000e-06 1.000000e-07 1.000000e-05 1.000000e-06        \
lvl            19           18           18           16           16    17
600           NaN     0.000000     0.000000         0.00     0.000000  0.00
601           NaN     0.000000     0.000000         0.00     0.000000  0.00
602           NaN     0.000000     0.000000         0.00     0.000000  0.00
603           NaN     0.000000     0.000000         0.00     0.000000  0.00
604           NaN     0.000000     0.000000         0.00     0.000000  0.00
...           ...          ...          ...          ...          ...   ...
1177          NaN     0.488889     0.488889         0.40     0.400000 -0.40
1178          NaN     0.000000     0.000000         0.00     0.000000  0.00
1179          NaN     0.416667     0.416667         0.00     0.000000  0.00
1180          NaN    -0.514620    -0.514620         0.50     0.736842 -0.50
1181          NaN     0.208333     0.208333         0.25     0.166667 -0.25

tol  1.000000e-07
lvl            16    17
600      0.000000  0.00
601      0.000000  0.00
602      0.000000  0.00
603      0.000000  0.00
604      0.000000  0.00
...           ...   ...
1177     0.400000 -0.40
1178     0.000000  0.00
1179     0.000000  0.00
1180     0.736842 -0.50
1181     0.166667 -0.25

[582 rows x 16 columns]

In [16]:
set_numbers

,SeT_Lvl_t0.0001_l16,SeT_Lvl_t0.0001_l17,SeT_Lvl_t0.0001_l18,SeT_Lvl_t0.0001_l19,SeT_Lvl_t1e-05_l17,SeT_Lvl_t1e-05_l18,SeT_Lvl_t1e-05_l19,SeT_Lvl_t1e-06_l19,SeT_Lvl_t1e-07_l19,SeT_Lvl_t1e-06_l18,SeT_Lvl_t1e-07_l18,SeT_Lvl_t1e-05_l16,SeT_Lvl_t1e-06_l16,SeT_Lvl_t1e-06_l17,SeT_Lvl_t1e-07_l16,SeT_Lvl_t1e-07_l17
600,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
601,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
602,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
603,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
604,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,13,13,13,13,14,14,14,14,14,14,14,14,14,14,14,14
1178,13,13,13,13,14,14,14,14,14,14,14,14,14,14,14,14
1179,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
1180,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
1181,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11

# Plots

In [37]:
def t_table(df):
    df = df.dropna(axis=1, how='any')
    dataBig = pd.DataFrame()
    for test in range(0,len(df)):
        data = df.filter(items=[test], axis=0)
        dataT = data.T
        dataT.reset_index(level=['tol', 'lvl'], inplace=True)
        dataT['test'] = test
        dataT.columns=['tol', 'lvl', 'val', 'test']
        dataBig = pd.concat([dataBig, dataT], axis=0)
        dataBig['val'] = dataBig['val'].abs()
    return dataBig

In [38]:
dt_tol = t_table(delta_tol)
dt_lvl = t_table(delta_lvl)

ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements